:root {
  font-family: 'Segoe UI', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: var(--ft-light-color);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  /* --bg-color: #242424;
  --main-color: #396ca3;
  --main-color-lighten: #598dc5;
  --main-color-darken: #2061b5;
  --sub-color: #a3396c;
  --accent-color: #6ca339; */
  --card-bg-color: rgb();
  --ft-light-color: rgba(255, 255, 255, 0.87);
  --ft-dark-color: rgb(92, 92, 92);
}

button {
  background-color: var(--main-color);
  color: #fff;

  border: none;

  padding: 10px 20px;
  border-radius: 5px;

  cursor: pointer;

  font-size: 16px;
}

.marker-icon {
  transition: 5s;
}

@media (prefers-color-scheme: light) {
  :root {
    --ft-light-color: #213547;
    --bg-color: #ffffff;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
